@media (min-width: 1025px) {

    /* Mobile Menu Element Hiding */
    .hamburger,
    nav,
    nav.is-active {
        display: none;
    }

    /* ------------------------------- */
    .main-header {
        align-items: start;
        justify-content: center;
        border-bottom: none;
        height: 100%;
        padding: 23px 0 0;
        width: 81px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
    }

    .logo {
        height: 33px;
        width: 33px;
        margin: auto;
        position: relative;
    }

    .logo img {
        height: 100%;
        width: 100%;
    }

    .home-prompt {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        cursor: pointer;
        border-right: 1px solid #000000;
    }

    .home-button {
        position: absolute;
        bottom: 15px;
        left: 23.5px;
        display: block;
        z-index: 3;
    }

    .home-button a {
        position: relative;
    }

    main {
        position: absolute;
        top: 0;
        left: 80px;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .marquee {
        z-index: 100000;
        width: 100vh;
        background-color: #000000;
        height: 85px;
        overflow: hidden;
        transform: rotateZ(-90deg);
        transform-origin: bottom left;
        position: absolute;
        left: 85px;
        bottom: 0px;
    }

    .letters {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .home-grid {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(12, 1fr);
        overflow: hidden;
    }

    .title {
        grid-column: 3/7;
        grid-row: 1/5;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .title .heading {
        grid-column: 1/1;
        grid-row: 3/5;
        font-family: Raleway;
        font-weight: 800;
        font-size: 70px;
        letter-spacing: 5px;
        margin: 0px;
    }

    .title .sub-heading-1 {
        grid-column: 1/1;
        grid-row: 6/7;
        font-family: Raleway;
        font-weight: 500;
        font-size: 20px;
        margin: 0px;
    }

    .title .sub-heading-2 {
        grid-column: 1/1;
        grid-row: 7/8;
        font-family: Raleway;
        font-weight: 700;
        font-size: 20px;
        margin: 0px;
    }

    .title .sub-heading-3 {
        grid-column: 1/1;
        grid-row: 8/9;
        font-family: Raleway;
        font-weight: 500;
        font-size: 20px;
        margin: 0px;
    }

    .blurb {
        grid-column: 3/10;
        grid-row: 5/8;
    }

    .blurb p {
        font-family: Raleway;
        font-weight: 700;
        font-size: 16px;
        max-width: 45ch;
    }

    .app-icon {
        grid-column: 10/14;
        grid-row: 5/8;
        padding-bottom: 5vh;
    }

    .app-icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .app-icon-text {
        grid-column: 9/15;
        grid-row: 7/9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app-icon-text p {
        color: #000000;
        text-align: center;
        font-size: 16px;
    }

    .download-arrow {
        grid-column: 7/10;
        grid-row: 8/11;
        display: grid;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .download-arrow svg {
        color: #000000;
        height: 30px;
        width: 30px;
    }

    .download-text {
        grid-column: 7/10;
        grid-row: 8/11;
        position: relative;
        animation: spinText 10s linear infinite;
    }

    @keyframes spinText {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .download-text span {
        position: absolute;
        top: 21%;
        left: 50%;
        font-size: 13px;
        transform-origin: 0 50px;
        font-family: Raleway;
        font-weight: 500;
    }

    .ios-download {
        grid-column: 5/8;
        grid-row: 11/12;
    }

    .ios-download a img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .android-download a img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .android-download {
        grid-column: 9/12;
        grid-row: 11/12;
    }

    .copyright-text {
        grid-column: 5/15;
        grid-row: 12/13;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .copyright-text p {
        padding-right: 15px;
        padding-bottom: 10px;
        font-family: Raleway;
        font-weight: 400;
        font-size: 14px;
    }

    /* Code for the Text Ring */
    @-webkit-keyframes opacity {
        0% {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .text-ring {
        position: relative;
        display: flex;
        grid-column: 10 / 13;
        grid-row: 2 / 4;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 0;
        margin-top: -100px;
        -webkit-animation: opacity 2s ease-in forwards, descend 1s ease-out forwards;
        animation: opacity 2s ease-in forwards, descend 1s ease-out forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 1s;
        font-family: Inter, sans-serif;
    }

    @-webkit-keyframes descend {
        to {
            margin-top: 0
        }
    }

    @keyframes descend {
        to {
            margin-top: 0
        }
    }

    .circle {
        transform-style: preserve-3d;
        -webkit-animation: animate 8s linear infinite;
        animation: animate 8s linear infinite;
        font-family: Inter, sans-serif;
    }

    @-webkit-keyframes animate {
        0% {
            transform: rotateY(1turn) rotateX(20deg)
        }

        to {
            transform: rotateY(0deg) rotateX(20deg)
        }
    }

    @keyframes animate {
        0% {
            transform: rotateY(1turn) rotateX(20deg)
        }

        to {
            transform: rotateY(0deg) rotateX(20deg)
        }
    }

    .circle .char {
        position: absolute;
        top: 0;
        left: 0;
        color: #000000;
        font-size: 22px;
        padding: 5px 12px;
        transform-style: preserve-3d;
        transform-origin: center;
        transform: rotateY(calc(var(--char-index)*12deg)) translateZ(175px);
        font-family: Inter, sans-serif;
    }

    @-webkit-keyframes opacity {
        to {
            opacity: 1
        }
    }

    @keyframes opacity {
        to {
            opacity: 1
        }
    }

    section {
        position: absolute;
        display: flex;
        left: 0;
        top: 0;
        min-height: 100%;
        width: calc(100vw - 6 * 80px);
        padding-top: 0;
        transform: translateX(100%);
        background-color: white;
    }

    #first {
        left: calc(80px * 1);
    }

    #second {
        left: calc(80px * 2);
    }

    #third {
        left: calc(80px * 3);
    }

    #fourth {
        left: calc(80px * 4);
    }

    #fifth {
        left: calc(80px * 5);
    }

    section:first-child {
        border-left: none;
    }

    .section-header {
        position: absolute;
        top: 0;
        left: -80px;
        display: block;
        height: 100vh;
        width: 80px;
        cursor: pointer;
        box-sizing: border-box;
        background-color: white;
        border-left: 1px solid #000000;
    }

    .section-header .title-header {
        transform: rotate(180deg);
        position: absolute;
        bottom: 35px;
        left: calc(50% - 10px);
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .section-header .number {
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .container {
        width: 100%;
        display: flex;
        overflow: auto;
        height: 100vh;
        opacity: 0;
        transition: 0.5s opacity;
    }

    section.active .container {
        opacity: 1;
    }

    section .animation {
        align-items: center;
        border-bottom: 0;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: center;
        padding-right: 80px;
    }

    section .content {
        border-left: 1px solid #000000;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    section .introduction {
        padding: 55% 55px 75px;
    }

    section .section-body {
        border-top: 1px solid #000000;
        display: flex;
        align-items: start;
        flex-grow: 1;
    }

    section .section-body-copy {
        border-left: 1px solid #000000;
        flex: 2;
        padding: 80px 55px;
        min-height: 100%;
    }

    #first .section-body,
    #fourth .section-body {
        flex-direction: row-reverse;
    }

    #first .section-body-copy,
    #fourth .section-body-copy {
        border-left: none;
        border-right: 1px solid #000000;
    }

    section .section-body-copy p {
        position: relative;
        padding-left: 20px;
        padding-bottom: 2vh;
    }

    section .section-body-copy p:before {
        background-color: #000000;
        border-radius: 8px;
        content: '';
        left: 4px;
        position: absolute;
        top: 14px;
        padding: 4px;
        margin: -4px;
    }

    section:not(.home) .animation {
        padding-right: 80px;
    }

    #fifth .animation {
        padding: 0;
    }

    section:not(.home) .animation svg {
        width: 100%;
        height: auto;
        max-width: 60vh;
    }

    #fourth .animation svg {
        width: 90%;
        max-width: 40vh;
    }

    #fifth .animation {
        width: 100%;
    }

    #fifth .animation svg {
        max-width: none;
    }

    .home {
        transform: none;
        width: calc(100vw - 6 * 80px);
    }

    .home .container {
        flex-direction: column;
    }

    .home .animation {
        align-items: center;
        align-content: center;
        border-bottom: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        padding: 100px;
    }

    .home .animation svg path {
        transform-origin: center;
        opacity: 0;
    }

    #fifth .content {
        justify-content: flex-end;
    }

    .links a,
    .email a {
        line-height: 120px;
        position: relative;
    }

    #fifth .introduction p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email,
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
    }

    .email {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .links a,
    .email a {
        line-height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links a:first-child {
        border-right: 1px solid #000000;
    }

    .links a {
        width: 50%;
    }

    .privacy,
    .terms {
        position: absolute;
        top: 0;
        left: 80px;
        height: 100%;
        width: calc(100% - 80px);
        padding-top: 6.5%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 6.5%;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-title {
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 40px;
    }

    .info-subtitle {
        font-size: 27.5px;
        font-weight: 900;
        margin-top: 35px;
        margin-bottom: 10px;
    }

    .info-content {
        width: 50ch;
    }

    .info-content a {
        text-decoration: underline;
    }

    .terms-list li {
        margin-top: 11px;
        margin-bottom: 11px;
        width: 45ch;
    }

    .whats-new-list li {
        margin-top: 11px;
        margin-left: 20px;
        margin-bottom: 11px;
        width: 45ch;
        padding-left: 6px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 1024px) {
    header {
        align-items: center;
        display: flex;
        height: 55px;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
    }

    .main-header {
        background-color: white;
        border-bottom: 1px solid #000000;
        position: fixed;
        z-index: 2;
    }

    .home-button {
        display: none;
    }

    .home-prompt {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 120px);
    }

    nav {
        background-color: white;
        display: none;
        height: calc(100vh - 55px);
        position: absolute;
        top: 55px;
        width: 100%;
        z-index: 1;
    }

    .menu-open main {
        height: 100vh;
        overflow: hidden;
    }

    .menu-open footer {
        display: none;
    }

    .menu-open nav {
        display: block;
    }

    nav button {
        border-bottom: 1px solid #000000;
        display: block;
        height: 100px;
        padding-left: 20px;
        width: 100%;
        text-align: inherit;
    }

    nav .number {
        margin-right: 30px;
    }

    section {
        background-color: white;
        border-top: 1px solid #000000;
        color: #000000;
        display: none;
        padding-top: 55px;
    }

    section.active {
        border-top: none;
        display: block;
    }

    .logo {
        height: 24px;
        width: 24px;
        position: relative;
    }

    .logo img {
        height: 100%;
        width: 100%;
    }

    section .number {
        margin-right: 5px;
    }

    section:not(.home) .animation svg {
        display: block;
        padding: 40px 0 60px;
        width: 65%;
        height: auto;
        margin: auto;
    }

    #fourth .animation svg {
        width: 45%;
        padding: 0 0 30px;
    }

    #fifth .animation svg {
        width: 100%;
        height: 110vw;
        padding: 0;
        margin-top: -55px;
    }

    .home .container {
        flex-direction: column;
    }

    .home .animation {
        align-items: center;
        align-content: center;
        border-bottom: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        padding: 30px;
    }

    .home .animation svg path {
        transform-origin: center;
        opacity: 0;
    }

    section .animation {
        border-bottom: 1px solid #000000;
    }

    section .animation canvas {
        display: block;
    }

    section .introduction {
        border-bottom: 1px solid #000000;
        padding: 100px 28px;
    }

    #fifth .introduction {
        padding: 125px 28px 30px;
    }

    #fifth .introduction p {
        width: 90px;
    }

    section .section-body {
        display: flex;
        flex: 1;
    }

    section .section-body-copy {
        padding: 50px 40px;
    }

    section .section-body-copy p {
        position: relative;
        padding-left: 20px;
        padding-bottom: 2vh;
    }

    section .section-body-copy p:before {
        background-color: #000000;
        border-radius: 8px;
        content: '';
        height: 8px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 8px;
    }

    #fifth .introduction p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section .email,
    section .links {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    section .email {
        border-bottom: 1px solid #000000;
    }

    section .links a,
    section .email a {
        line-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section .links a:first-child {
        border-right: 1px solid #000000;
    }

    section .links a {
        width: 50%;
    }

    section .point {
        position: relative;
        display: flex;
        border-top: 1px solid #fff;
    }

    section .point-number {
        width: 25%;
        padding: 45px 0;
        text-align: center;
        flex-shrink: 0;
        border-right: 1px solid;
    }

    section .point-content {
        padding-left: 45px;
        flex-grow: 1;
    }

    section .point-content .point-title {
        position: relative;
        padding: 45px 0;
        padding-right: 70px;
    }

    section .point-content ul {
        margin-left: 18px;
        padding-bottom: 45px;
        display: none;
    }

    section .point-content li {
        margin-bottom: 15px;
    }

    section .point-toggle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }

    section .point-toggle .icon {
        position: absolute;
        top: 50%;
        right: 40px;
        padding: 30px;
        margin: -30px;
    }

    section .point-toggle .line1,
    section .point-toggle .line2 {
        background-color: #000000;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    section .point-toggle .line1 {
        width: 24px;
        height: 1px;
    }

    section .point-toggle .line2 {
        width: 1px;
        height: 24px;
    }

    section .point.is-active {}

    section .point.is-active .point-content ul {
        display: block;
    }

    section .point.is-active .point-toggle .line2 {
        display: none;
    }

    footer {
        border-top: 1px solid #000000;
        padding: 56px 28px;
    }

    footer p {
        margin-bottom: 28px;
    }

    /* * Hamburger menu adapted from https://github.com/jonsuh/hamburgers */
    .hamburger {
        color: #000000;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
        padding: 18px;
        margin: -18px;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::after {
        background-color: #000000;
    }

    .hamburger label {
        cursor: pointer;
        margin-right: 18px;
    }

    .hamburger.is-active label {
        display: none;
    }

    .hamburger-box {
        width: 14px;
        height: 14px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
    }

    .hamburger-inner,
    .hamburger-inner::after {
        width: 14px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::after {
        content: '';
        display: block;
    }

    .hamburger--slider .hamburger-inner {
        top: 5px;
    }

    .hamburger--slider .hamburger-inner::after {
        top: 7px;
    }

    .hamburger--slider.is-active .hamburger-inner {
        transform: translate3d(0, 4px, 0) rotate(45deg);
    }

    .hamburger--slider.is-active .hamburger-inner::after {
        transform: translate3d(0, -7px, 0) rotate(-90deg);
    }

    .privacy,
    .terms {
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        padding-top: clamp(50px, 6.5%, 60px);
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: clamp(60px, 6.5%, 70px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .privacy div,
    .terms div {
        width: clamp(30ch, 100%, 50ch);
    }

    .info-title {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 40px;
        white-space: nowrap;
    }

    .info-subtitle {
        font-size: clamp(22.5px, 24px, 27.5px);
        font-weight: 900;
        margin-top: 35px;
        margin-bottom: 10px;
        line-height: 140%;
    }

    .info-content {
        width: clamp(30ch, 100%, 50ch);
    }

    .info-content a {
        text-decoration: underline;
    }

    .terms-list li {
        margin-top: 11px;
        margin-bottom: 11px;
        width: clamp(25ch, 100%, 45ch);
    }

    .whats-new-list li {
        margin-top: 11px;
        margin-left: 20px;
        margin-bottom: 11px;
        width: clamp(25ch, 100%, 45ch);
        padding-left: 6px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        font-size: 14px;
        line-height: 24px;
    }
}